.toppings-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 5px;
}
.checkbox-wrapper{
  margin: 5px;
  min-width: fit-content;
}
.subtitle{
  text-align: left;
  font-size: 20px;
  margin-bottom: 3px;
}
